/* Mobile */
@media(max-width :740px) {
    .s-col-full,
    .s-full-width {
        width: 100% !important;
    }
    #nav {
        display: block;
       
    }
    #nav > li {
        display: block;
    }
    #mobile-menu-bnt {
        display: block;
    }
    #header.seach {
        display: none;
    }
    #header {
        overflow: hidden;
    }
    .member-item {
        margin-top: 30px;
        width: 100%;
    }
    .member-img {
        width: 60%;
    }
    .about-text {
        font-size: 15px;
        margin: 15px 14px;
        text-align: justify;
        line-height: 1.4;
    }
    .contact-form {
        margin-top: 16px;
    }
    .s-mt-8 {
        margin-top: 8px;
    }
}
