.header {
    height:var(--header-height);
    background-image: linear-gradient(0,#fd6434,#f33c2c);
}
.header__navbar {
    display:flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
}
.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}
.header__navbar-use-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2)
}
.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding: 8px 15px;
    top: 100%;
    width: 150px;
    right: 0;
    background-color: var(--white-collor);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}
.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-collor) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}
.header__navbar-user-item {

}
.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-collor);
    font-size: 1.4rem;
    display: block;
    padding: 7px 0;
    
}
.header__navbar-user-item a:hover {
    background-color: #fafafa;
}
.header__navbar-use-name {
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 4px;
}
.header__navbar-icon-link:hover,
.header__navbar-item:hover ,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor:pointer;

}
.header__navbar-item:hover .header__qr{
    display: block;
}
.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item ,
.header__navbar-item-link {
   
    color: var(--white-collor);
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 200;
}
.header__navbar-item--strong {
    font-weight: 400;
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #fa9086;
    right: -10px;
    top: 0;
}
.header__navbar-icon-link{
    color: var(--white-collor);
    text-decoration: none;
}
.header__navbar-icon {
    font-size:1.6rem;
    margin: 0 4px;
}
.header__qr{
width: 186px;
background-color: var(--white-collor);
position: absolute;
left: 0;
top: 100%;
padding: 8px;
border-radius: 3px;
display: none;
z-index: 1;
}
.header__qr-apps{
display: flex ;
justify-content: space-between;
}
.header__qr-link:nth-child(1){
    margin-left: 10px;
}
.header__qr-link:nth-child(2){
margin-right: 10px;
}
.headr__qr-img{
width: 100%;
}
.header__qr-download-img{
height: 16px;
}
.header__notify  {
    position: absolute;
    z-index: 2;
    border-radius: 2px;
    top:160%;
    width: 404px;
    background-color:var(--white-collor);
    right:0;
    border: 1px solid #D3d3d3;
    cursor: default;
    transform-origin: 90% top;
    animation: Growth ease-in 0.25;
    display: none;

}
.header__notify::before {
    content:"";
    border: 20px solid;
    border-color: transparent transparent var(--white-collor) transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}
@keyframes Growth {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.header__notify-header{
height: 40px;
background-color:var(--white-collor);
}
.header__notify-header h3 {
    color: #777;
    margin: 0 0 0 12px;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 40px;
}

.header__notify-list{
padding-left: 0;
}

.header__notify-item:hover {
    background-color: #f1f1f1;
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(238 ,75, 43 ,0.1);
}
.header__notify-img {
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
margin-left: 12px;
}
.header__notify-name{
display: block;
color: var(--black-collor);
font-size: 1.4rem;
}
.header__notify-descriotion{
display: block;
color: var(--black-collor);
font-size: 1.3rem;
}
.header__notify-footer{
text-align: center;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-collor);
    padding: 10px 14px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}
/* authen-modal */
.auth-form {
    width: 500px;
}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading {
    font-size: 2.0rem;
    font-weight: 400;
}
.auth-form__switch {
    font-size: 1.6rem;
    color : var(--primary-collor);
    font-weight: 500;
    cursor: pointer;
}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 13px;
    border: 1px solid var(--border-collor);
    border-radius: 2px; 
    font-size: 1.4rem;
}
.auth-form__input:focus {
    border-color: #888;
}
.auth-form__aside {
    margin: 20px;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-collor);
}
.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials {
    background-color: #F5F5F5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}
.auth-form__socials--fb  {
    background-color: #3a5a98;
    color: var(--white-collor);
}
.auth-form__socials--fb.auth-form__socials-icon{
    color: var(--white-collor);

}
.auth-form__socials--gg{
background-color: var(--white-collor);
color: var(--text-collor);
}
.auth-form__socials-title {
    margin: 0 28px;
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form-separate {
    display: block;
    border-left: 1px solid var(--border-collor);
    height: 20px;
    margin: 0 16px;
}
.auth-form__fogot {
    color: var(--primary-collor);
}
.header-with-seach {
    height: var(--header-with-seach-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__logo {
    width: 200px;
}
.header-logo__img {
    width: 150px;
    
}
.header__seach {
    flex: 1;
    background-color: var(--white-collor);
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 10px;
    font-size: 1.4rem;
    color: #777;
    font-weight: 400;
}
.header__cart {
    width: 150px;
    text-align: center;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}
.header__cart-item:hover {
    background-color: #f8f8f8;
}
.header__cart-img {
    width: 45px;
    height: 45px;
    margin:2px 10px;
}

.header__cart-item-info {
    width: 100%;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: space-between;
}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-collor);
    margin: 0;
}
.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-collor);
}
.header__cart-item-multiply {
    font-size: 1rem;
    margin: 0 3px;
    color: #757575;
}
.header__cart-item-qnt {

}
.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.header__cart-item-des {
    color: #757575; 
    font-size: 1.3rem;
}
.header__cart-item-delete {
font-size: 1.3rem;
color:var(--text-collor);
margin-right: 9px;
}
.header__cart-item-delete:hover {
    color: var(--primary-collor);
    cursor: pointer;
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list {
    display: block; 
}
.haeder__cart-viewcart {
    float: right;
}
.haeder__cart-viewcart:hover {
    background-color: #f05d41;
} 
.header__cart-list::after {
    content: "";
    position: absolute;
    right: 4px;
    top: -20px;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent var(--white-collor) transparent;
}
.header__cart-icon {
    color: var(--white-collor);
    font-size: 2.2rem;
    margin-top: 6px;
}
.header__cart-notice {
    position: absolute;
    padding: 0px 5px;
    background-color: var(--white-collor);
    color: var(--primary-collor);
    font-size: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4d2d;
    top: -7px;
    right: -7px;
}
.header__cart-list {
    position: absolute;
    top: calc(100% + 7px);
    right: 3px;
    background-color: var(--white-collor);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation:fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}
.header__cart-list--no-cart {
    padding:20px 0;
}
.header__cart-list--no-cart .header__seach-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__seach-no-cart-img {
    width: 58%;
    display: none;
}
.header__cart-list--no-cart-msg {
    font-size: 1.4rem;
    margin-top: 10px;
    color: var(--text-collor);
    display: none;
}
.header__seach-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__seach-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-collor);
    padding: 0 8px;
    border-radius: 5px;
}
.header__seach-selection{
    border-left: 1px solid #777;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}
.header__seach-selection-label{
font-size: 1.4rem;
color: var(--text-collor);
}
.header__seach-selection-icon{
font-size: 1.4rem;
color: #888;
margin: 0 20px 0 8px;
position: relative;
top: 1px;
}
.header__seach-btn {
    background-color: var(--primary-collor);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
}
.header__seach-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}
.header__seach-btn-icon {
    font-size: 1.4rem;
    color: var(--white-collor);
}
.header__seach-selection:hover .header__seach-option {
    display:block ;
}
.header__seach-option{
    position: absolute;
    right: 0;
    top: 110%;
    width: 133px;
    list-style: none;
    display: none;
    padding-left: 0;
    box-shadow: 0 0 3px #ccc;
    border-radius: 3px;
    animation: fadeIn ease-in 0.2s;
}
.header__seach-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute; 
   
    top: -10px;
    left: 0;
}
.header__seach-option-item {
    background-color: var(--white-collor);
    padding: 8px 8px;
}
.header__seach-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__seach-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__seach-option-item:hover{
    background-color: #fafafa;
}
.header__seach-option-item span {
font-size: 1.4rem;
color: var(--text-collor);
margin-left: 8px;
}
.header__seach-option-item i {
font-size: 1.2rem;
color: var(--primary-collor);
margin: 0 10px 0 12px;
display: none;
}
.header__seach-option-active i{
    display: inline-block;
}
.header__seach-input:focus ~ .header__seach-history {
    display: block;
  
}
.header__seach-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-collor);
    border-radius: 2px;
    box-shadow: 0 1px 3px #999;
    display: none;
    z-index: 1;
}
.header__seach-history-heading {
    margin: 6px 8px;
    font-size: 1.4rem;
    color:#999;
    font-weight: 400;
}
.header__seach-history-list {
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;

    
}
.header__seach-histoty-item {
    height: 38px;
    padding: 0 8px;
}
.header__seach-histoty-item:hover {
    background-color: #f5ecec;
}
.header__seach-histoty-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-collor);
    line-height: 38px;
    display: block;
    
}
/* app comtainer*/
.app__container {
    background-color: #F5F5F5;
}
.app__content{
    padding-top: 25px;
}
.category{
    background-color: var(--white-collor);
    border-radius: 2px;
}
.category__heading {
    color: var(--text-collor);
    font-size: 1.6rem;
    padding: 8px 10px;
    border-bottom:1px solid rgba(0, 0, 0, 0.075) ;
    margin-top: 0;
}
.category__heading-icon {
    font-size: 1.5rem;
    margin-right: 6px;
}
.category-list {
    padding:0 0 8px 0;
    list-style: none;
    margin-left: 12px;
}
.category-item {

}
.category-item--active .category-item__link {
    color: var(--primary-collor);

}
.category-item--active .category-item__link::before {
    content: "";
    position: absolute; 
    top:50%;
    left: 0;
    border: 5px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-collor);
}
.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-collor);
    font-size: 1.5rem;
    padding: 6px 10px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}
.category-item__link:hover {
    right: -2px;
    color: var(--primary-collor);
}
/* home soft + filter*/
.home-filter {
    position: relative;
    display: flex;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    border-radius: 2px;
}
.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn {
    margin-right: 15px;
    min-width: 90px;
}
.home-filter__page-num {
    font-size: 1.3rem;
    margin-right: 22px;
    color: var(--text-collor);
}
.home-filter__page-current {
    color: var(--primary-collor);
}
.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 32px;
}
.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-collor);
    display: flex;
    text-decoration: none;
}
.home-filter__page-btn:first-child {
    border-right: 1px solid #EEEEEE;
}
.home-filter__page-btn--dis .home-filter__page-icon {
    color: #ccc;
}
.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn--dis {
    background-color: #f9f9f9;
    cursor: default;
}
/* product item */
.home-product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-collor);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home-product-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 22px 0 rgba(0, 0, 0, 0.25);
}
.home-product-item__img {
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home-product-item__name {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-collor);
    line-height: 1.6rem;
    padding: 0 4px;
    margin: 11px 0;
}
.home-product-item__price {
    display: flex;
    margin-left: 6px;
}
.home-product__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.home-product__price-current {
    font-size: 1.6rem;
    color: var(--primary-collor);
    margin-left: 16px;
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px 6px 0;
}
.home-product-item__like {
    font-size: 1.3rem;
}
i.home-product-item__like-icon-fill {
    display: none;
    color: #f63d30;
}
.home-product-item__like-liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like-liked .home-product-item__like-icon-empty {
    display: none;
}
.home-product-item__rating {
    font-size: 0.7rem;
    color: #d5d5d5;
    margin:1px 0 0  auto;
}
.home-product-item__star--gold {
    color: var(--star-gold-color);
}
.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-collor);
    margin-left: 5px;
}
.home-product-item__origin {
    
}
.home-product-item__origin-name {
    display: flex;
    margin-left:133px;
    padding: 8px 0 0 0;
    color: #595959;
    font-size: 1.2rem;
}
.home-product-item__favourire {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color:currentColor;
    color: var(--primary-collor);
    font-size: 1.2rem;
    font-weight: 450;
    line-height: 1.5rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourire::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top:3px solid currentColor;
    border-left:3px solid transparent; 
    filter: brightness(60%);
}
.home-product-item__favourire i {
    color: var(--white-collor);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.home-product-item__favourire span {
    color: var(--white-collor);
}
.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
}
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style:solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}
.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-size:1.4rem ;
    font-weight: 550;
    line-height: 2rem;
}
.home-product-item__sale-off-label {
    color: var(--white-collor);
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.home-product__pagination {
    margin: 60px 0 35px 0;
} 
/* footer */
.footer {
    border-top: solid 4px var(--primary-collor);
    padding-top: 15px;
}
.footer__heading {
    font-size: 1.4rem;
    color: var(--text-collor);
    text-transform: uppercase;
}
.footer-list {
    padding-left: 0;
    list-style: none;
}
.footer-item__link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #737373;
    padding: 8px 0;
    display: block;
    
}
.footer-item__link:hover {
    color: var(--primary-collor);
}
.footer-item {
    list-style: none;
}
.footer-item-icon {
    font-size: 1.8rem;
}
.footer__download {
    display: flex;
    
}
.footer__download-qr {
    height: 80px;
    width: 80px;
    object-fit: contain;
}
.footer__download-apps-img {
    height: 25px;
}
.footer__download-apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
