.header {
    height: 120px;
    background-image: linear-gradient(0,#fd6434,#f33c2c);
}
.header__navbar {
    display:flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
}
.header__navbar-icon-link:hover,
.header__navbar-item:hover ,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor:pointer;

}
.header__navbar-item:hover .header__qr{
    display: block;
}
.header__navbar-item ,
.header__navbar-item-link {
    display: inline-block;
    color: var(--white-collor);
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 200;
}
.header__navbar-item--strong {
    font-weight: 400;
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #fa9086;
    right: -10px;
    top: 0;
}
.header__navbar-icon-link{
    color: var(--white-collor);
    text-decoration: none;
}
.header__navbar-icon {
    font-size:1.6rem;
    margin: 0 4px;
}
.header__qr{
width: 186px;
background-color: var(--white-collor);
position: absolute;
left: 0;
top: 100%;
padding: 8px;
border-radius: 3px;
display: none;
}
.header__qr-apps{
display: flex ;
justify-content: space-between;
}
.header__qr-link:nth-child(1){
    margin-left: 10px;
}
.header__qr-link:nth-child(2){
margin-right: 10px;
}
.headr__qr-img{
width: 100%;
}
.header__qr-download-img{
height: 16px;
}